.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

header {
  background-color: #333;
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cart-section {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item input {
  width: 50px;
  padding: 5px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart-item button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #c82333;
}

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-card h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #333;
}

.product-card p {
  font-size: 1em;
  color: #555;
  line-height: 1.5;
}

.product-card .original-price {
  text-decoration: line-through;
  color: #999;
}

.product-card button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #218838;
}